# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
auto_flag_go/auto-flag-project-da1010254e61.json
auto_flag_go/.env